* {
  /* background-color: #202429; */
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  background-color: #202429;
}

.inactive.btn {
  visibility: hidden;
}

#parentContainer {
  height: 100%;
  width: 100%;
}

#button1 {
  width: 100px;
  height: 50px;
  background-color: #093426;
  color: #e7f3ef;
  transition: 0.1s;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  border-radius: 6px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

#button1:hover {
  background-color: #23483c;
  color: #e7f3ef;
}

#infoHolder {
  display: none;
}

#country {
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  background-color: #11111100;
  text-transform: uppercase;
  display: block;
  z-index: 300;
}

p {
  font-family: "Roboto", sans-serif;
  color: #c0ab9a;
}

#largeBlockRight {
  margin-left: 50%;
  height: 100%;
  background-color: #293237;
  color: #293237;
  width: 50%;
  position: absolute;
}

#content {
  border: 1px solid red;
  background-color: #11111100;
  position: absolute;
  bottom: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#bgTitle {
  display: block;
  font-size: 200px;
  color: #252d3499;
  background-color: #29323700;
  position: absolute;
  top: -30px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  line-height: 1;
}

#mainTitle {
  display: block;
  position: absolute;
  top: 0px;
  left: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 55px;
  color: #c0ab9a;
  background-color: #11111100;
}

.circle.small {
  border: 22px solid #ff6132;
  border-radius: 50%;
  width: 260px;
  height: 260px;
  position: relative;
  top: 10px;
  right: 150px;
  background-color: #11111144;
  display: none;
}

#scoreElements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #11111100;
  max-width: 350px;
  margin: auto;
}

#scoreCounter {
  color: #c0ab9a;
  display: inline;
  background-color: #11111100;
  font-family: "Quattrocento", serif;
  font-size: 22px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}

#scoreCount {
  color: #c0ab9a;
  display: inline;
  background-color: #11111100;
  font-family: "Quattrocento", serif;
  font-size: 22px;
  margin: auto;
}

#resetBtn {
  margin-bottom: 50px;
}

#startBtn {
  transition: all 0.5s;
}

#startBtn.hidden {
  visibility: hidden;
}

#checkAnswer {
  margin-top: 50px;
}

.btn {
  background-color: #202429;
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #ff613233;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  color: #c0ab9a;
  text-align: center;
  transition: all 0.25s;
  z-index: 50;
}

.btn:hover {
  color: #ff6132;
  border-color: #ff6132dd;
}

.game-input {
  display: block;
  width: 215px;
  padding: 10px 0 10px 15px;
  color: #c0ab9a;
  background: #202429;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 5px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #ff613233;
  font-family: "Oswald", sans-serif;
  font-size: 12pt;
  font-weight: 400;
  z-index: 400;
}

.game-input:focus {
  border: 1px solid #ff6132;
}

.bottomLeftText {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  position: absolute;
  bottom: 25px;
  left: 12px;
  background-color: #11111100;
  font-style: bold;
}

.bottomLeftTextTwo {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  position: absolute;
  bottom: 25px;
  left: 38px;
  background-color: #11111100;
}

#progressBar {
  background-color: #c0ab9a55;
  position: absolute;
  bottom: 0px;
  width: 0%;
  height: 25px;
  z-index: 1000;
  left: 0px;
}

#skipInfo {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  background-color: #11111100;
  font-style: bold;
}
