* {
  /* background-color: #202429; */
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  background-color: #202429;
}

/* .inactive.btn {
  visibility: hidden;
} */

/* #parentContainer {
  height: 100%;
  width: 100%;
} */

/* #button1 {
  width: 100px;
  height: 50px;
  background-color: #093426;
  color: #e7f3ef;
  transition: 0.1s;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  border-radius: 6px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
} */

/* #button1:hover {
  background-color: #23483c;
  color: #e7f3ef;
} */

#infoHolder {
  display: none;
}

#country {
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  background-color: #11111100;
  text-transform: uppercase;
  display: block;
  z-index: 300;
  text-align: center;
}

p {
  font-family: "Roboto", sans-serif;
  color: #f5f7f8;
}

/* #largeBlockRight {
  margin-left: 50%;
  height: 100%;
  background-color: #293237;
  color: #293237;
  width: 50%;
  position: absolute;
} */

#content {
  background-color: #11111100;
  position: absolute;
  bottom: 150px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* #bgTitle {
  display: block;
  font-size: 200px;
  color: #252d3499;
  background-color: #29323700;
  position: absolute;
  top: -30px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  line-height: 1;
} */

#mainTitle {
  display: block;
  position: absolute;
  top: 0px;
  left: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 35px;
  color: #f2f2f255;
  background-color: #11111100;
  font-style: italic;
}

.circle.small {
  border: 22px solid #ff6132;
  border-radius: 50%;
  width: 260px;
  height: 260px;
  position: relative;
  top: 10px;
  right: 150px;
  background-color: #11111144;
  display: none;
}

#scoreElements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #11111100;
  max-width: 350px;
  margin: auto;
}

#score {
  color: #f5f7f8;
  background-color: #11111100;
  font-family: "Quattrocento", serif;
  font-size: 22px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

#scoreCount {
  color: #f5f7f8;
  display: inline;
  background-color: #11111100;
  font-family: "Quattrocento", serif;
  font-size: 22px;
  margin: auto;
}

#resetBtn {
  margin-bottom: 50px;
}

#startBtn {
  transition: all 0.5s;
}

#startBtn.hidden {
  visibility: hidden;
}

#checkAnswer {
  margin-top: 50px;
}

#skipBtn {
  margin: auto;
}

#endGameBtn {
  margin: auto;
  margin-top: 25px;
}

#seeResults {
  margin: auto;
  margin-top: 25px;
}

#startBtn {
  margin: auto;
  margin-top: 25px;
}

.btn {
  background-color: #0f131a;
  padding: 0.5em 3em;
  border: 0.16em solid #4f996033;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #4f9960;
  text-align: center;
  transition: all 0.25s;
  z-index: 50;
  display: block;
}

.btn:hover {
  background-color: #4f9960;
  color: #010100;
  border-color: #6bec9000;
}

.game-input {
  display: block;
  width: 215px;
  padding: 10px 0 10px 15px;
  color: #f5f7f8;
  background: #0f131a;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 5px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #56bd7333;
  font-family: "Oswald", sans-serif;
  font-size: 12pt;
  font-weight: 400;
  z-index: 400;
}

.game-input:focus {
  border: 1px solid #6bec90;
}

.bottomLeftText {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  position: absolute;
  bottom: 25px;
  left: 12px;
  background-color: #11111100;
  font-style: bold;
}

.bottomLeftTextTwo {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  position: absolute;
  bottom: 25px;
  left: 38px;
  background-color: #11111100;
}

#progressBar {
  background-color: #c0ab9a55;
  position: absolute;
  bottom: 0px;
  width: 0%;
  height: 25px;
  z-index: 1000;
  left: 0px;
}

#skipInfo {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  background-color: #11111100;
  font-style: bold;
}

#gameOverMsg {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  background-color: #11111100;
  font-style: bold;
  margin-top: 25px;
  font-style: italic;
}

#scoreMsg {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  background-color: #11111100;
  font-style: bold;
  margin-top: 25px;
  font-style: italic;
}

#startMsg {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  background-color: #11111100;
  font-style: bold;
  margin-top: 25px;
  font-style: italic;
  text-align: center;
}

#countryTracker {
  margin-top: 25px;
  font-style: italic;
  font-size: 12px;
  text-align: center;
}

#gameResults {
  color: white;
  border: 3px solid purple;
  width: 100%;
  height: 500px;
}





/* Animation CSS for BG */



.home-section {
        height: 100%;
        width: 100%;
        display: block;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        background: 
        linear-gradient(
          #4f9960, #010100 75%);
}

.home-section .home-content {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home-section .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
    dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    }

    .home-section .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    }

    .home-section .circles li {
    background-color: #01010033;
}

.home-section .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.home-section .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.home-section .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.home-section .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.home-section .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.home-section .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.home-section .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.home-section .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.home-section .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.home-section .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.home-section .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate{
    0% {
    transform: translateY(0) rotate(
0deg
);
    opacity: 1;
    border-radius: 0;
}
100% {
    transform: translateY(-1000px) rotate(
720deg
);
    opacity: 0;
    border-radius: 100%;
}
}