* {
 
  background-color: #E7F3EF;
  margin-left: 10%;
}





#button1 {
  width: 100px;
  height: 50px;
  background-color: #093426;
  color: #E7F3EF;
  transition: 0.1s;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  border-radius: 6px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

#button1:hover {
  background-color: #23483C;
  color: #E7F3EF;
}

#infoHolder {
  display: none;
}

#country {
  display: block;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

p {
  font-family: 'Roboto', sans-serif;
}

#content {
 
}
